@charset "UTF-8";
body {
  width: calc(100dvw - 2 * var(--margin));
  min-height: calc(100dvh - 2 * var(--margin));
  margin: var(--margin);
}

@keyframes Open-Web-App {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#entete {
  display: flex;
  flex-direction: column;
  gap: var(--police-small);
  height: 50dvh;
  padding-bottom: 15px;
}
#entete .entete_margin {
  width: 100dvw;
  height: 50px;
}
#entete .section_logo {
  position: relative;
  display: block;
  height: calc(50dvh - 150px);
}
#entete .section_logo > img {
  position: absolute;
  top: 0;
  width: calc(1.48 * (50dvh - 150px));
}
#entete .section_logo > img:first-of-type {
  left: 0;
}
#entete .section_logo > img:last-of-type {
  opacity: 0;
  left: calc(1.48 * (50dvh - 130px));
  animation: Open-Web-App 2s ease forwards;
}
#entete .rectangle {
  width: 100%;
  height: 55px;
  will-change: box-shadow;
  transition: box-shadow ease 600ms;
}
#entete .rectangle.active {
  box-shadow: inset 0 55px 0 0 var(--black);
}

#menu_de_navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(50dvh - 1.5 * var(--margin));
  padding: calc(var(--margin) * 1.2) 0;
}
#menu_de_navigation .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}
#menu_de_navigation .left article {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) * 1.2);
}
#menu_de_navigation .left article p {
  font-family: "Supply";
  font-weight: var(--police-weigth-small);
  font-size: var(--police-small);
}
#menu_de_navigation .left article nav {
  display: flex;
  gap: 15px;
}
#menu_de_navigation .left article nav > a {
  font-family: "Supply";
  font-weight: 200;
  font-size: var(--police-extra-small);
  border: 1px solid #999;
  border-radius: 2px;
  padding: 8px;
  transition: color ease 250ms, background-color ease 250ms;
  will-change: color, background-color;
}
#menu_de_navigation .left article nav > a:hover {
  color: var(--white);
  background-color: var(--black);
}
#menu_de_navigation .left div {
  display: flex;
  width: 100%;
}
#menu_de_navigation .left div p {
  width: 20%;
  font-size: var(--police-small);
}
#menu_de_navigation .left div ul li {
  line-height: 16px;
}
#menu_de_navigation .left div ul li a {
  font-size: var(--police-small);
  will-change: opacity;
  transition: ease 200ms opacity;
}
#menu_de_navigation .left div ul li a:hover {
  opacity: 0.5;
}
#menu_de_navigation .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
#menu_de_navigation .right h1 {
  text-align: right;
  font-weight: var(--police-weigth-big);
  font-size: calc(var(--police-big) * 1.2);
  line-height: 87px;
  transform: translateY(calc(-1 * var(--margin)));
}
#menu_de_navigation .right div {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: calc(var(--margin) * 2 / 3);
  height: var(--police-normal);
  overflow: hidden;
}
#menu_de_navigation .right div p {
  text-align: right;
  font-size: var(--police-small);
}
#menu_de_navigation .right div span {
  position: relative;
  display: block;
  width: 2px;
  height: calc(var(--margin) / 2);
  margin-right: calc(var(--margin) / 2);
  border-radius: 1px;
  background-color: var(--black);
  animation: slide-in-vertical 1750ms ease infinite;
}
#menu_de_navigation .right div span::before, #menu_de_navigation .right div span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 2px;
  height: calc(var(--margin) / 3);
  border-radius: 1px;
  background-color: var(--black);
  transform-origin: bottom;
}
#menu_de_navigation .right div span::before {
  transform: translateX(-50%) rotate(45deg);
}
#menu_de_navigation .right div span::after {
  transform: translateX(-50%) rotate(-45deg);
}

#about_me {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) / 2);
  padding: calc(var(--margin) / 2) 0;
}
#about_me p {
  margin-left: 5px;
  transform: translateX(var(--police-small));
}
#about_me p::before {
  content: "";
  position: absolute;
  left: -5px;
  display: block;
  width: var(--police-extra-small);
  height: var(--police-extra-small);
  background-color: var(--black);
  border-radius: 50%;
  transform: translateX(calc(-1 * var(--police-small))) translateY(3px);
}
#about_me h1 {
  font-size: var(--police-big);
  line-height: 85px;
  margin: var(--margin) 0;
}
#about_me h1:first-of-type {
  margin-top: calc(var(--margin) * 4);
}
#about_me img {
  align-self: start;
  height: 400px;
  object-fit: contain;
}

#preview {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100vh - 68px);
}
#preview aside {
  position: relative;
  width: 35%;
  height: 100%;
}
#preview aside h1 {
  margin: var(--margin) 0 calc(2 * var(--margin));
  font-size: var(--police-extra-big);
  line-height: 120px;
}
#preview aside #learn-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: calc(var(--margin) / 4) 5px calc(var(--margin) / 4) 0;
  overflow: hidden;
}
#preview aside #learn-link p {
  font-size: var(--police-small);
}
#preview aside #learn-link > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--margin) * 2 / 3);
  height: calc(var(--margin) / 2);
  overflow: hidden;
}
#preview aside #learn-link > div span {
  position: relative;
  display: block;
  width: calc(var(--margin) / 2);
  height: 2px;
  background-color: var(--black);
  border-radius: 1px;
  animation: slide-in-right 1750ms ease-in infinite;
}
#preview aside #learn-link > div span::before, #preview aside #learn-link > div span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: calc(var(--margin) / 3);
  height: 2px;
  background-color: var(--black);
  border-radius: 1px;
  transform: translateY(-50%);
  transform-origin: right;
}
#preview aside #learn-link > div span::before {
  transform: translateY(-50%) rotate(45deg);
}
#preview aside #learn-link > div span::after {
  transform: translateY(-50%) rotate(-45deg);
}
#preview aside #learn-link:hover::after {
  animation: HoverLignes 450ms ease-in-out forwards;
}
#preview aside .projet-liste {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 80px;
  margin-left: 45%;
}
#preview aside .projet-liste p {
  font-size: var(--police-small);
}
#preview aside .projet-liste ul li {
  font-size: var(--police-small);
}
#preview aside .projet-liste ul li.active {
  color: var(--ligth-black);
}
#preview main {
  left: 35%;
  top: 0;
  display: flex;
  width: calc(65% + var(--margin));
  height: calc(100vh - 67px);
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
}
#preview main .projet {
  position: relative;
  flex: 0 0 100%;
  height: calc(100vh - 67px);
  scroll-snap-align: start;
  opacity: 1;
}
#preview main .projet img, #preview main .projet video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#preview main .projet .titre {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--white);
  font-size: var(--police-small);
  transform: translateX(var(--police-small));
  margin-left: 5px;
}
#preview main .projet .titre::before {
  content: "";
  position: absolute;
  left: -5px;
  display: block;
  width: var(--police-extra-small);
  height: var(--police-extra-small);
  background-color: var(--white);
  border-radius: 50%;
  transform: translateX(calc(-1 * var(--police-small))) translateY(3px);
}
#preview main .projet .domaine {
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  font-family: "Supply";
  font-weight: 200;
  font-size: var(--police-extra-small);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 2px;
  padding: 8px;
}
#preview main .projet .domaine, #preview main .projet .titre {
  opacity: 0;
  will-change: opacity;
  transition: opacity 800ms ease-in-out;
}
#preview main .projet.active .domaine, #preview main .projet.active .titre {
  opacity: 1;
}
#preview main .black-font .titre, #preview main .black-font .domaine {
  color: var(--black);
  border-color: var(--black);
}
#preview main .black-font .titre::before, #preview main .black-font .domaine::before {
  background-color: var(--black);
}
#preview #projet-puce {
  position: absolute;
  bottom: 8%;
  left: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--margin) * 2 / 3);
  width: fit-content;
  height: fit-content;
  z-index: 10;
}
#preview #projet-puce li {
  width: var(--police-extra-small);
  height: var(--police-extra-small);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--white);
}
#preview #projet-puce li.visible {
  background-color: var(--white);
}


#galerie {
  background-color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=main.css.map */
