@font-face {
  font-family: "Montreal";
  src: url("../assets/typo/Neue Montreal/PPNeueMontreal-Regular.otf");
}
@font-face {
  font-family: "Montreal Bold";
  src: url("../assets/typo/Neue Montreal/PPNeueMontreal-Bold.otf");
}
@font-face {
  font-family: "Supply";
  src: url("../assets/typo/Supply/PPSupplySans-Ultralight.otf");
}
:root {
  --police-extra-big: 142px;
  --police-big: 5em;
  --police-normal: 1em;
  --police-small: 1em;
  --police-extra-small: 0.7em;
  --black: #000;
  --ligth-black: #888;
  --white: #fff;
  --margin: 20px;
  --police-weigth-normal: 400;
  --police-weigth-small: 100;
}

* {
  padding: 0;
  margin: 0;
  z-index: 0;
  box-sizing: border-box;
  font-family: "Montreal";
  font-size: var(--police-normal);
  font-weight: var(--police-weigth-normal);
  text-decoration: none;
  list-style: none;
}

::selection {
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}
@keyframes slide-in-vertical {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(150%);
  }
}
@keyframes HoverLignes {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  } 5%, 95% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}
body {
  overflow-x: hidden;
}

a {
  color: var(--black);
  text-decoration: none;
}

#menu {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100dvw - 2 * var(--margin));
  height: 60px;
  z-index: 10;
  margin: 7.5px var(--margin) 0 var(--margin);
  background: transparent;
}
#menu::before {
  content: "";
  position: absolute;
  width: 100dvw;
  height: 84px;
  backdrop-filter: blur(11px);
  transform: translateX(calc(-1 * var(--margin))) translateY(-12.5px);
}
#menu > span {
  position: absolute;
  bottom: 0;
  width: 1px;
  height: calc(var(--margin) / 4);
  background-color: var(--black);
  transform: translateY(100%) scaleX(0);
}
#menu > span:first-of-type {
  left: 0;
}
#menu > span:last-of-type {
  animation-delay: 1950ms;
  right: 0;
}
#menu.active > span {
  animation: scaleY 450ms forwards;
}
#menu p {
  font-size: var(--police-small);
}
#menu a {
  position: relative;
  /*height: var(--police-normal);*/
  font-size: var(--police-small);
}
#menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  transform: scaleX(0);
  will-change: transform;
  transform-origin: left;
  overflow-x: hidden;
  transition: transform 200ms ease-in-out;
}
#menu a:hover::before {
  transform: scaleX(1);
}
#menu #logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
#menu #logo img {
  height: 40px;
  max-width: 50%;
}
#menu #logo p {
  width: 30px;
}
#menu #sous-menu {
  display: flex;
  gap: 5px;
}
#menu #time {
  display: flex;
  align-items: center;
  gap: 8px;
}
#menu #time p {
  font-family: Supply;
  font-weight: 200;
}
#menu #time img {
  height: var(--police-normal);
}

@keyframes scaleY {
  from {
    transform: translateY(100%) scaleX(0);
  }
  to {
    transform: translateY(100%) scaleX(1);
  }
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disapparition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#galerie {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100dvw;
  min-height: 100dvh;
  z-index: 30;
  padding: var(--margin);
  padding-left: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(11px);
  will-change: opacity animation;
  animation: ease apparition 800ms forwards;
}
#galerie.disparition {
  animation: ease disapparition 800ms forwards;
}
#galerie nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-bottom: 10px;
}
#galerie nav::after {
  background-color: var(--white);
}
#galerie nav p {
  position: relative;
  font-size: var(--police-small);
  margin-left: 52%;
  color: var(--white);
}
#galerie nav p::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  transform: scaleX(0);
  will-change: transform;
  transform-origin: left;
  overflow-x: hidden;
  transition: transform 200ms ease-in-out;
}
#galerie nav p:hover::before {
  transform: scaleX(1);
}
#galerie content {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  padding-top: var(--margin);
  width: 100%;
  max-height: 100dvh;
  overflow-y: scroll;
  color: var(--white);
}
#galerie content .projet {
  display: flex;
  width: 100%;
  margin: 0;
  padding-top: var(--margin);
  padding-bottom: var(--margin);
}
#galerie content .projet::after {
  display: none;
}
#galerie content .projet.active aside .domaine::after, #galerie content .projet.active aside .outils::after {
  transform: scaleX(1);
}
#galerie content .projet aside {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) / 2);
  width: 35%;
}
#galerie content .projet aside h2 {
  font-size: var(--police-small);
}
#galerie content .projet aside .titre, #galerie content .projet aside .domaine, #galerie content .projet aside .outils {
  display: flex;
  gap: var(--margin);
}
#galerie content .projet aside .titre h1, #galerie content .projet aside .domaine h1, #galerie content .projet aside .outils h1 {
  font-family: "Montreal Bold";
  font-size: var(--police-normal);
}
#galerie content .projet aside .domaine, #galerie content .projet aside .outils {
  position: relative;
  padding-bottom: calc(var(--margin) / 4);
}
#galerie content .projet aside .domaine::after, #galerie content .projet aside .outils::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  transform: scaleX(0);
  will-change: transform;
  transform-origin: left;
  overflow-x: hidden;
  transition: transform 850ms ease-in-out;
}
#galerie content .projet aside .domaine h2:first-child, #galerie content .projet aside .outils h2:first-child {
  width: 15%;
}
#galerie content .projet .mask {
  width: 5%;
}
#galerie content .projet .items-galerie {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin);
  width: 60%;
}
#galerie content .projet .items-galerie .item {
  margin-bottom: calc(var(--margin) * 4);
  width: calc(50% - var(--margin) / 2);
}
#galerie content .projet .items-galerie .item p {
  padding-top: 10px;
  font-size: var(--police-small);
  text-align: center;
}
#galerie content .projet .items-galerie .item img, #galerie content .projet .items-galerie .item video {
  max-width: 100%;
  max-height: 90dvh;
}
#galerie content .projet .items-galerie .big-item {
  width: calc(75% - var(--margin));
}
#galerie content .projet .items-galerie .small-item {
  width: 25%;
}
#galerie content .projet .items-galerie .solo-item {
  width: 100%;
}
#galerie content .projet .items-galerie .solo-item img, #galerie content .projet .items-galerie .solo-item video, #galerie content .projet .items-galerie .small-item img, #galerie content .projet .items-galerie .small-item video, #galerie content .projet .items-galerie .big-item img, #galerie content .projet .items-galerie .big-item video {
  width: 100%;
}


#contact {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100dvh - 105px);
}
#contact .réseaux > span, #contact .coordonnees > span {
  position: absolute;
  bottom: 0;
  width: 1px;
  height: calc(var(--margin) / 4);
  background-color: var(--black);
}
#contact .réseaux {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--margin);
  width: 42.5%;
  padding: var(--margin) 0;
  border-bottom: 1px solid var(--black);
}
#contact .réseaux > span {
  left: 0;
}
#contact .réseaux img {
  width: 80%;
}
#contact .réseaux content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#contact .réseaux content p {
  margin-left: 5px;
  font-size: var(--police-small);
  transform: translateX(var(--police-small));
}
#contact .réseaux content p::before {
  content: "";
  position: absolute;
  left: -5px;
  display: block;
  width: var(--police-extra-small);
  height: var(--police-extra-small);
  background-color: var(--black);
  border-radius: 50%;
  transform: translateX(calc(-1 * var(--police-small))) translateY(3px);
}
#contact .réseaux content div {
  display: flex;
  gap: var(--margin);
}
#contact .réseaux content div a {
  font-size: var(--police-small);
  position: relative;
}
#contact .réseaux content div a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  transform: scaleX(0);
  will-change: transform;
  transform-origin: left;
  overflow-x: hidden;
  transition: transform 200ms ease-in-out;
}
#contact .réseaux content div a:hover::before {
  transform: scaleX(1);
}
#contact .coordonnees {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 37.5%;
  height: 100%;
  border-bottom: 1px solid var(--black);
}
#contact .coordonnees > span {
  right: 0;
}
#contact .coordonnees article {
  max-height: 30%;
  margin-bottom: 10%;
}
#contact .coordonnees article h2 {
  font-family: "Supply";
  font-weight: 200;
  font-size: var(--police-small);
  margin-bottom: var(--margin);
}
#contact .coordonnees article p {
  font-size: var(--police-small);
}
#contact .coordonnees article aside {
  display: flex;
  margin-top: var(--margin);
}
#contact .coordonnees article aside div {
  display: flex;
  align-items: center;
  gap: calc(var(--margin) / 2);
  width: 50%;
}
#contact .coordonnees article aside div img {
  width: calc(3 * var(--police-small));
}
#contact .coordonnees article aside div a {
  position: relative;
  font-family: "Supply";
  font-weight: 200;
  font-size: var(--police-small);
}
#contact .coordonnees article aside div a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  transform: scaleX(0);
  will-change: transform;
  transform-origin: left;
  overflow-x: hidden;
  transition: transform 200ms ease-in-out;
}
#contact .coordonnees article aside div a:hover::before {
  transform: scaleX(1);
}
#contact .coordonnees .developpeur {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) / 4);
  width: 100%;
  height: 30%;
  padding-top: 10%;
  border-top: 1px solid var(--black);
}
#contact .coordonnees .developpeur p {
  font-size: var(--police-small);
}
#contact .coordonnees .developpeur p gras {
  font-size: var(--police-small);
  font-family: "Montreal Bold";
}
#contact .coordonnees .developpeur .reseaux-arthur {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin);
  width: 100%;
  padding-top: calc(var(--margin) / 2);
}
#contact .coordonnees .developpeur .reseaux-arthur .item-reseau {
  display: flex;
  align-items: center;
  gap: calc(var(--margin) / 2);
}
#contact .coordonnees .developpeur .reseaux-arthur .item-reseau a {
  position: relative;
  font-family: "Supply";
  font-weight: 200;
  font-size: var(--police-small);
}
#contact .coordonnees .developpeur .reseaux-arthur .item-reseau a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  transform: scaleX(0);
  will-change: transform;
  transform-origin: left;
  overflow-x: hidden;
  transition: transform 200ms ease-in-out;
}
#contact .coordonnees .developpeur .reseaux-arthur .item-reseau a:hover::before {
  transform: scaleX(1);
}
#contact .coordonnees .developpeur .reseaux-arthur .item-reseau img {
  width: calc(3 * var(--police-small));
}
#contact .recap-projet {
  display: flex;
  align-items: end;
  width: 20%;
}
#contact .recap-projet > p {
  width: 30%;
  font-size: var(--police-small);
  padding-bottom: calc(7 * var(--police-small));
}
#contact .recap-projet div {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
  width: 70%;
}
#contact .recap-projet div a {
  font-size: var(--police-small);
  will-change: opacity;
  transition: ease 200ms opacity;
}
#contact .recap-projet div a:hover {
  opacity: 0.5;
}

/*# sourceMappingURL=styles.css.map */
