.lignes{
    position: relative;

    &::after{
        content: '';
        position: absolute;
        bottom: 0;
    
        width: 100%;
        height: 1px;
    
        background-color: var(--black);
    
        transform: scaleX(0);
        will-change: transform;
        transform-origin: left;
    
        overflow-x: hidden;
        transition: transform 850ms ease-in-out;
    }

    &.active::after{
        transform: scaleX(1);
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px); 
    will-change: opacity transform;
    transition: opacity 750ms ease, transform 750ms ease;

    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}

.opacity{
    opacity: 0;
    will-change: opacity;
    transition: opacity 750ms ease;

    &.active {
        opacity: 1;
    }
}
