html {
    scroll-snap-type: y mandatory;
}

header{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 80px;
    z-index: 1;

    border-bottom: 1px solid var(--Noir_elegant_noFocus);
    background-color: var(--Background_color);

    & > a {
        width : 206px;
        padding-left : 5px;
        padding-top: 5px;
        border-right : 1px solid var(--Noir_elegant_noFocus);
        img{
            height: 58px;
        }
    }

    .menu-icon{
        position: fixed;
        top: 13px;
        right: 13px;
    
        width: var(--dimension_logo);
        height: var(--dimension_logo);
    
        border-radius: 50%;
        background-color: var(--Background_color);
        transition: transform 0.5s;
    
        span{
            position: absolute;
            top: 50%;
            left: 50%;
    
            display: block;
            width: var(--dimension_logo_2);
            height: 0.5px;
    
            background-color: var(--Noir_elegant);
            transform: translate(-50%, -50%);
    
            &::before, &::after{
                position: absolute;
                top: 0;
                left: 0;
    
                display: block;
                width: var(--dimension_logo_2);
                height: 0.5px;
    
                content: '';
                background-color: var(--Noir_elegant);
                transition: transform 0.25s;
            }
    
            &::before{
                transform: translateY(-7px);
            }
    
            &::after{
                transform: translateY(7px);
            }
        }
    
        &:hover span{
            &::before{
                transform: translateY(-8px);
            }
    
            &::after{
                transform: translateY(8px);
            }
        }
    
        &.is-opened span{
            background: transparent;
    
            &::before{
                transform: translateY(0) rotate(45deg);
            }
    
            &::after{
                transform: translateY(0) rotate(-45deg);
            }
        }
    }

    .sous-menu{
        position: fixed;
        top: 79px;
        left : 0;

        display: none;
        flex-direction: column;
        justify-content: left;
        align-items: center;

        width: 100%;
        height: calc(100vh - 80px);

        backdrop-filter: blur(30px);
        border-top: 1px solid var(--Noir_elegant_noFocus);

        a{
            padding: 10px 0 10px 15px;

            &:is(:hover, :focus){
                border-top: 0.5px solid var(--Noir_elegant);
                border-bottom: 0.5px solid var(--Noir_elegant);
            }
        }

        &.visible{
            display: flex;
        }
    }
}

#accueil{
    flex-direction: column;
    height: 100vh;

    padding-bottom: 0;

    .Slider{
        display: flex;
    
        width: 100%;
        height: 85%;

        img{
            object-fit: cover;
            width: 100%;
            will-change: opacity;
            animation: infinite 10s Animation_Slider;
        }
    }

    .navigation{
        width: 100%;
        height: 15%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;

        .btn{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;

            width: clamp(160px,25%,320px);
            height: 90px;

            padding : 0 3.5%;

            p{
                width: 100%;
                color: var(--Noir_elegant_noFocus);
                word-wrap: break-word;

                transition: color 1s;

                &.focused{
                    color: var(--Noir_elegant);
                }
            }

            button{
                font-size: var(--taille-police-large);
                font-family: 'Akkurate Pro';

                border : none;
                color : var(--Noir_elegant_noFocus);
                background-color: transparent;
                text-transform: uppercase;

                p{
                    color : var(--Noir_elegant_noFocus);
                }

                will-change: transform;
                transition: 0.5s transform, 0.5s color;

                &.focused{
                    color: var(--Noir_elegant);
                    transform: translateY(-4px);
                    p{
                        color: var(--Noir_elegant);
                    }
                }
            }
        }
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    scroll-snap-align: start;
    scroll-padding-top: 80px;

    padding: 0;

    .details, 
    .details_2{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        height: 100%;
        width: 100%;
        /*padding: 10% 15%;*/
        padding: 5% 10%;
    
        line-height: var(--moyen-interlignage);

        .explication{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            will-change: transform;

            p, h2 {
                padding-left: 65px;
                max-width: 380px;
            }

            h2{
                line-height: 26px;
                text-transform: uppercase;
            }

            h3{
                font-size: 5em;
                writing-mode: vertical-lr;
                transform: rotate(180deg);
            }

            transform: translateY(3%);
            transition: 2s transform;

            &.inview{
                transform: translateY(0);
            }
        }

        .images,
        .slider1,
        .slider2,
        .slider3,
        .slider4,
        .slider5,
        .slider6,
        .slider7{
            display: flex;

            width: 65%;
            height: 80%;
            max-height: 70vh;
        }

        video{
            display: flex;

            max-width: 65%;
            max-height: 70vh;
        }

        .images{
            will-change: transform;

            img{
                width: 100%;
                object-fit: cover;
                transform: translateY(10%);
            } 

            &.inview img{
                transform: translateY(0);
                transition: 2s transform;
            }
        }

        video{
            transform: translateY(10%);
            will-change: transform;

            &.inview {
                transform: translateY(0);
                transition: 2s transform;
            }
        }

        .slider1,
        .slider2,
        .slider3,
        .slider4,
        .slider5,
        .slider6,
        .slider7{
            flex-direction: row;
            overflow: hidden;

            img{
                width: 100%;;
                object-fit: cover;
                animation: infinite 6s Animation_Image;

                transform: translateY(10%);
                will-change: transform;
            }

            &.inview img{
                transform: translateY(0);
                transition: 2s transform;
            }
        }
    }

    .details{
        .explication{
            width: 35%;
            padding-right: 5%;
        }
    }

    .details_2{
        background-color: var(--Noir_Focus);
        flex-direction: row-reverse;

        .explication{
            align-items: flex-end;
            text-align: right;
            padding-left: 5%;

            p, h2{
                padding-right: 65px;
            }
        }
    }
}

.titre{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    img{
        width: 100%;
        opacity: 0;

        transition: 3s transform, 3s opacity;
    
        &.inview{
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

#à_propos img{
    padding-left: 10%;
    /*transform: translateX(5%);*/
    opacity: 0;
    transform : opacity 0.5s;
    
    &.inview{
        opacity: 1;
    }
}

#Typographie img,
#Illustration img,
#Branding img,
#Design img,
#Motion img{
    padding-right: 10%;
    transform: translateX(-5%);

    transition: 3s transform, 3s opacity;

    &.inview{
        transform: translateX(0%);
        opacity: 1;
    }
}

.presentation{
    flex-direction: column;
    p, h1{
        width: clamp(350px, 400px, 450px);
    }

    p{
        line-height: var(--moyen-interlignage);
    }
    h1{
        line-height: var(--grand-interlignage);
    }
}

#contact{
    flex-direction: column;
    height: 100%;

    border-top: 0.5px solid var(--Noir_elegant_noFocus);
    padding: 0;

    footer{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 300px;
        width: 100%;

        padding: 2% 5%;

        & > p, div{
            padding : 2% 5%;
            width: calc(100% / 3);
        }

        div{
            display: flex;
        }

        .btnContact{
            justify-content: space-between;
            align-items: center;

            max-width: 480px;

            a{
                width: clamp(35px, calc(100% / 3), 50px);
                img{
                    width: 35px;
                }

                transition: transform 0.25s;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }

        .infoContact{
            flex-direction: column;
            text-align: right;

            min-width: 340px;
        }
    }
    
    .rectangle{
        height: 80px;
        width: 100vw;
        background-color: var(--Backgroud_color2);    
    }
}

/******** Responsive ********/

@media screen and (max-width: 1280px){
    #accueil{
        .navigation .btn {
            justify-content: center;
            will-change: color;
            
            &.focused button{
                transform: none;
                color : var(--Noir_elegant);
            }

            p{
                display: none;
            }
        }
    }

    #contact{
        footer{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: start;

            width: 100%;
            height: 100%;

            padding: 10% 5%;

            & > p, div{
                width: 100%;
            }

            .btnContact{
                justify-content: start;

                a{
                    padding: 5% 22.5% 5% 0;
                }
            }

            .infoContact{
                text-align: left;
            }
        }
    }

    section{
        height: 100vh;
    
        & .details, 
        & .details_2{
            flex-direction: column-reverse;
            justify-content: start;
            padding-top: 80px;

            & .explication{
                width: 100%;
                max-height: 35%;

                & p{
                    max-width: 80vw;
                    width: 100%;
                }
            }

            & .images,
            & .slider1,
            & .slider2,
            & .slider3,
            & .slider4,
            & .slider5,
            & .slider6,
            & .slider7{
                max-width: 100%;
                max-height: 60%;

                &.inview img{
                    transform: translateY(0);
                }
            }

            & video{
                max-width: 100%;
                max-height: 60%;

                &.inview{
                    transform: translateY(0);
                }
            }
        }
    }
}

@media screen and (max-width: 780px){
    section{
        & .details, 
        & .details_2{
            & .explication{
                max-height: 50%;

                h3{
                    transform: rotate(270deg);
                }

                h2{
                    padding: 0;
                }

                p{
                    padding: 0;
                    max-width: 100%;
                }
            }

            & .images,
            & video,
            & .slider1,
            & .slider2,
            & .slider3,
            & .slider4,
            & .slider5,
            & .slider6,
            & .slider7{
                max-height: 60%;
            }; 
        }
    }
}

@media screen and (max-width: 780px){
    header{
        height: 55px;

        & > a{
            width: 141px;
            padding: 5px 0 0 4px;
            img{
                height: 39px;
            }
        } 

        .menu-icon{
            top: 0.25px;
            right: 0.25px;
        }

        .sous-menu{
            top: 54px;

            backdrop-filter: none;
            background-color: var(--Background_color);

            a{
                text-transform: none;
                font-size: var(--taille-police-menu);
                padding: 10px 40px;
            }
        }
    }

    section{
        scroll-padding-top: 54px;
        padding-top: 54px;

        .details, 
        .details_2{
            padding: 0;

            & .explication{
                padding: 0 5%;
                padding-bottom: 54px;
            }

            & .images,
            & video,
            & .slider1,
            & .slider2,
            & .slider3,
            & .slider4,
            & .slider5,
            & .slider6,
            & .slider7{
                width: 100%;
            }

            & .slider1,
            & .slider2,
            & .slider3,
            & .slider4,
            & .slider5,
            & .slider6,
            & .slider7{
                & img{
                    animation: infinite 6s Animation_Image;

                    transform: translateY(10%);
                    will-change: transform;
                }

                &.inview img{
                    transform: translateY(0);
                    transition: none;
                }
            }
        }

        .details{
            & .explication{
                & h3{
                    margin: 0 0 0 10%;
                }
            }
        }

        .details_2{
            & .explication{
                & h3{
                    margin: 0 10% 0 0;
                }
            }
        }
    }

    #accueil{
        justify-content: flex-start;

        .Slider{
            height: 60%;
        }

        .navigation{
            flex-direction: column;

            width: 100vw;
            height: 30%;

            .btn{
                justify-content: center;
                width: 100%;
                height: 100%;

                border-top: 0.5px solid var(--Noir_elegant_noFocus);

                &:last-child{
                    border-bottom: 0.5px solid var(--Noir_elegant_noFocus);
                }

                button{
                    color: var(--Noir_elegant);
                    font-size: var(--taille-police-small);
                    font-weight: 300;
                    font-family: "Roboto", sans-serif;
                    text-transform: none;
                }

                &:is(:hover, :focus){
                    background: var(--Noir_Focus);
                }

                &.focused{
                    background: var(--Noir_Focus);
                }
            }
        }
    }
}