/******** Responsive Ipad ********/

:root{
    --taille-police-small: 0.75rem;
    --taille-police-medium: 1.15rem;
    --taille-police-large: 1.35rem;

    --dimension_logo: 48px;
    --dimension_logo_2: 19px;
}

/******* Entete ********/
.entete {
    height: 55px;
}

#container_Logo{
    display: block;
}

#logo_Esteban{
    height: 39px;
    padding: 5px 0 0 4px;
}

.entete.not-focused .sous-menu{
    border: none;
}

.entete.not-focused #logo_Esteban{
    opacity: 0;
}

.menu-icon{
    transform: translateX(-5px) translateY(1px);
}

.menu-icon.is-opened{
    transform: rotate(180deg) translateX(5px);
}

.sous-menu{
    top : 55px;
    height: 0;

    transition: height 0.5s;

    background: var(--Background_color);
}

.sous-menu.visible{
    height: 100vh;
}

.sous-menu a{
    width: calc(100% - 80px);
    padding: 10px 40px;
    font-size: var(--taille-police-menu);
}

.btn p{
    display : none;
}

.Slider{
    height: 100vh;
}

.Slides{
    height: 70%;
}

.navigation{
    height: 25%;
    flex-direction: column;
}

.btn{
    width: 100%;
    justify-content: center;
    border-bottom : 1px solid var(--Noir_elegant_noFocus);
}

.btn:hover,
.btn.focused{
    background: var(--Noir_Focus);
}

.btn.focused{
    border: 1px var(--Noir_elegant) solid;
}

.btn.border{
    border : none;
}

button{
    height: 100%;
    width: 100%;
    text-align: left;

    color : var(--Noir_elegant);
    font-size: var(--taille-police-small);
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-left: 2.5%;
}

button.focused{
    animation: none;
}

/******** Main ********/

.presentation p,
.presentation h1{
    width: 50%;
}

.titre img{
    animation: Apparition_Titre 2s forwards;
}

.details,
.details_2{
    flex-direction: column-reverse;
    height: 93vh;
    padding : 7vh 0 0;
}

.slider1,
.slider2,
.slider3,
.slider4,
.slider5,
.slider6,
.slider7,
.images{
    height: clamp(40%, 65% ,72%);
    width: 100%;
}

.explication{
    height: 45%;
    width: 80%;
    padding: 10%;
}

.explication h3{
    padding-bottom : 5%;
}

.explication p{
    width: clamp(50%, 65%, 75%);
    line-height: var(--petit-interlignage);
}

@media screen and (max-width: 480px) {
    .Slides {
        height: 62%;
    }

    .navigation {
        height: 23%;
    }

    .btn {
        padding: 0;
    }

    .presentation p,
    .presentation h1 {
        width: 85%;
    }

    .explication {
        padding-top: 15%;
    }

    .explication h3 {
        padding-bottom: 7%;
    }

    .explication p {
        width: clamp(75%, 85%, 95%);
    }
}