:root{
    --taille-police-small: 0.89rem;
    --taille-police-medium: 1.25rem;
    --taille-police-menu: 1.35rem;
    --taille-police-large: 1.65rem;

    --petit-interlignage: 1.25rem;
    --moyen-interlignage: 23.2px;
    --grand-interlignage: 26px;

    --Noir_elegant: #333;
    --Noir_Focus: #F7F5F5;
    --Noir_elegant_noFocus: #D2D2D2;

    --Background_color: #FFF;
    --Backgroud_color2:#595959;

    --dimension_logo: 54px;
    --dimension_logo_2: 22px;
}

@font-face{
    font-family: 'Akkurate Pro';
    src : url('../src/typo/AkkuratPro-Bold.otf');
}

@font-face{
    font-family: 'Roboto';
    src : url('../src/typo/RobotoMono-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'Gothic';
    src:url('../src/typo/BellGothicStd-Black.otf');
}

html{
    scroll-snap-type: y mandatory;
}

*{
    padding : 0;
    margin : 0;
    z-index: 0;

}

::selection{
    background:var(--Noir_elegant_noFocus);
}

/******** CSS de base *********/

body{
    background-color: var(--Background_color);
    overflow-x: hidden;
    overflow-y: initial;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: var(--taille-police-small);
    font-weight: 300;
    color : var(--Noir_elegant);
}

a{
    display : flex;
    margin : 0;
    width: 100%;

    font-family: 'Roboto', serif;
    font-size: var(--taille-police-small);
    color : var(--Noir_elegant);
    text-decoration: none;
    text-transform: none;
    font-weight: 300;
}

h1{
    text-transform: uppercase;
    font-family: 'Akkurate Pro', sans-serif;
    color : var(--Noir_elegant);
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: var(--taille-police-medium);
    color : var(--Noir_elegant);
}

h3{
    font-family: 'Gothic', serif;
    color:var(--Noir_elegant_noFocus);
}